<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TPFinalSQLDEVCoteFrancisStlaurentDarenKen.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=clg;PASSWORD=oracle1;PERSIST SECURITY INFO=True;USER ID=COTEFRAN"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
