<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TPFinalSQLDEVCoteFrancisStlaurentDarenKen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TPFinalSQLDEVCoteFrancisStlaurentDarenKen.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=clg;PASSWORD=oracle1;PERSIST SECURITY INFO=True;USER ID=COTEFRAN"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <TPFinalSQLDEVCoteFrancisStlaurentDarenKen.Properties.Settings>
            <setting name="MainFormSize" serializeAs="String">
                <value>408, 267</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </TPFinalSQLDEVCoteFrancisStlaurentDarenKen.Properties.Settings>
    </userSettings>
</configuration>
